:root {
  --color-background: hwb(0 100% 0%);
--color-primary:  #D7881D;
  --color-secondary: #F9DC06;
  --color-accent: #69747A;
  --color-text-primary: #000000;
  --color-text-secondary: #444444;
  --color-border: #DDDDDD;
  --color-error: #D64545;
  --color-success: #3FB950;
  --color-focus: #FFD580;
  --color-info: #5BC0EB;
}

[data-theme='dark'] {
  --color-background: #121212;
  --color-surface: #1F1F1F;
  --color-primary: #D7881D;
  --color-secondary: #F9DC06;
  --color-accent: #69747A;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;
  --color-border: #444444;
  --color-error: #F08080;
  --color-success: #2ECC71;
  --color-focus: #FFD580;
  --color-info: #5BC0EB;
}

/* Primary Font Stack */
body {
  font-family: 'Figtree', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Match for Alright Sans Medium */
.font-medium {
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em; /* Subtle tightening to match Alright's tracking */
}

/* Match for Alright Sans Light */
.font-light {
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
  letter-spacing: 0;
}